TARGET_ENV=dev
LOG_LEVEL=DEBUG

# CORS settings (comma-separated list of additional allowed origins)
ADDITIONAL_CORS_ORIGINS=https://api.hebo.ai,https://dev.hebo.ai

# Database settings
POSTGRES_DB=your_db_name_here
POSTGRES_USER=your_db_user_here
POSTGRES_PASSWORD=your_db_pass_here
POSTGRES_PORT=your_db_port_here
POSTGRES_HOST=your_db_host_here

# Langfuse settings
LANGFUSE_SECRET_KEY=your_langfuse_secret_key_here
LANGFUSE_PUBLIC_KEY=your_langfuse_public_key_here
LANGFUSE_HOST=your_langfuse_host_here

# General settings
# TODO: Explain these settings
MAX_RECURSION_DEPTH=5
