NODE_ENV=development
API_PORT=your-api-port

# Stack Auth keys
# Get these variables by creating a project on https://app.stack-auth.com.
VITE_STACK_PROJECT_ID=your-stack_project_id
STACK_SECRET_SERVER_KEY=your-stack_secret_server_key
