name: Deploy to Production

on:
  push:
    tags:
      - "v*"

jobs:
  quality:
    uses: ./.github/workflows/quality.yml

  deploy:
    name: Deploy to Production
    needs: quality
    runs-on: ubuntu-latest
    if: success()
    defaults:
      run:
        working-directory: .

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version-file: package.json

      - name: Install dependencies
        run: bun install --frozen-lockfile

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to Production
        run: |
          bun run sst secret set StackProjectId ${{ secrets.STACK_PROJECT_ID }} --stage production
          bun run sst secret set StackPublishableClientKey ${{ secrets.STACK_PUBLISHABLE_CLIENT_KEY }} --stage production
          bun run sst secret set StackSecretServerKey ${{ secrets.STACK_SECRET_SERVER_KEY }} --stage production
          bun run sst secret set BedrockRoleArn ${{ secrets.BEDROCK_ROLE_ARN }} --stage production
          bun run sst secret set BedrockRegion ${{ secrets.BEDROCK_REGION }} --stage production
          bun run sst secret set CohereApiKey ${{ secrets.COHERE_API_KEY }} --stage production
          bun run sst secret set GroqApiKey ${{ secrets.GROQ_API_KEY }} --stage production
          bun run sst secret set VertexServiceAccountEmail ${{ secrets.GOOGLE_VERTEX_SERVICE_ACCOUNT_EMAIL }} --stage production
          bun run sst secret set VertexAwsProviderAudience ${{ secrets.GOOGLE_VERTEX_AWS_PROVIDER_AUDIENCE }} --stage production
          bun run sst secret set VertexProject ${{ secrets.GOOGLE_VERTEX_PROJECT }} --stage production
          bun run sst secret set VertexLocation ${{ secrets.GOOGLE_VERTEX_LOCATION }} --stage production

          bun run sst deploy --stage production
